@import "./colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Manrope", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-bg);
    color: var(--text-dark-bg);
    min-height: 100%;
  }

  body.starry-body {
    color: var(--text-dark-bg);
  }
}
